Source: openstreetmap-map-icons
Section: utils
Priority: optional
Maintainer: Joerg Ostertag <debian@ostertag.name>
Build-Depends: debhelper (>> 3.7.2),
	pkg-config,
	libimage-info-perl,
	imagemagick,
	libdbd-sqlite3-perl,
	cmake,
	libperl6-slurp-perl,
	perlmagick
Standards-Version: 3.6.1

Package: openstreetmap-map-icons
Architecture: all
Depends: openstreetmap-map-icons-classic.small
 | openstreetmap-map-icons-classic.big
 | openstreetmap-map-icons-square.small
 | openstreetmap-map-icons-square.small-minimal
 | openstreetmap-map-icons-square.big
 | openstreetmap-map-icons-japan
 | openstreetmap-map-icons-svg
 | openstreetmap-map-icons-svg-twotone
 | openstreetmap-map-icons-japan-png
 | openstreetmap-map-icons-svg-png
 | openstreetmap-map-icons-svg-twotone-png
Recommends: openstreetmap-map-icons-square.small,
 openstreetmap-map-icons-square.big,
 openstreetmap-map-icons-japan,
 openstreetmap-map-icons-japan-png,
 openstreetmap-map-icons-svg,
 openstreetmap-map-icons-svg-png,
 openstreetmap-map-icons-svg-twotone,
 openstreetmap-map-icons-svg-twotone-png
Conflicts: openstreetmap-map-icons-restricted
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...


Package: openstreetmap-map-icons-square.small
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted, openstreetmap-map-icons-square.small-minimal
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-square.small-minimal
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted, openstreetmap-map-icons-square.small
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...
 This is a special set of icons which has only the minimal required
 icons in order to keep the package small for embeded systems.

Package: openstreetmap-map-icons-square.big
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-classic.small
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-classic.big
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-japan
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-japan-png
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-svg
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-svg-png
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-svg-twotone
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...


Package: openstreetmap-map-icons-svg-twotone-png
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

Package: openstreetmap-map-icons-nickw
Architecture: all
Depends: ${misc:Depends}, openstreetmap-map-icons(>> 14170)
Conflicts: openstreetmap-map-icons-restricted
Suggests: gpsdrive, mapnik
Replaces: osm-data-map-icons, openstreetmap-map-icons-restricted
Description: Icons for drawing Maps. Used in Openstreetmap and others
 These Icons are for use with maps build from OSM
 used in GpsDrive, Mapnik, ...

